
body {

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin: 0 auto;
color: #000;
line-height: 100%;
background-color: #80A3BF;
}



td {

font-size: 12px;

}



a {

color:  #003366;
text-decoration:underline;

}



a:hover{

color:#0099FF;
text-decoration:none;

}



textarea {

font-family: "Courier New", Courier, mono;
font-size: 12px;

}



input, select {

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}







.note {

font-size: 10px;
}



.boxhead .note {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
}

.boxhead a.notelink {
    color: #FFFFFF;
    font-size: 11px;
    padding: 0 7px;
    text-decoration: none;
	}

.bold
{
font-weight:bold;
}


.gridheader {

background-color: orange;
color: white;
font-weight: bold;
font-size: 10px;
padding: 3px;
text-transform: uppercase;

}


.activead {

background-color: green;
color: white;
font-weight: bold;
font-size: 10px;
padding: 3px;
text-transform: uppercase;

}

.penting {

background-color: #FFFF99;
color: black;
font-weight: bold;
font-size: 10px;
padding: 3px;
text-transform: uppercase;

}








button {

font-family: Verdana, Arial, Helvetica;
font-size: 12px;
font-weight: bold;
padding: 3px;
background-color: #CC3300;
color: white;
border: 1px outset #CC3300;

}







.pagetable_activecell {

font-weight: bold;



}


.main_head{ font-size:110%;}





a.mainmenu {

font-family: Verdana, Geneva, Arial, helvetica, sans-serif;

font-size: 11px;

text-decoration:none;

}

a.mainmenu:hover {

font-family: Verdana, Geneva, Arial, helvetica, sans-serif;

font-size: 11px;

color: #0099FF;

text-decoration: none;

text-decoration:underline;



}





a.notelink {

font-size: 9px;

text-decoration: none;

color: gray;



}

a.notelink:hover {

font-size: 9px;

text-decoration:underline;

color: gray;



}





a.header {

font-family:Arial, Helvetica, sans-serif;

font-size: 12px;

text-decoration:none;
font-weight:bold;
padding:5px 10px;
color:#fff

}

a.header:hover {color: #76FFFF;}














form {

margin: 0px;

}





.inserted{

color: #666666;

font-weight: bold;

font-size: 13px;



}

.already {

color: #FF0000;

font-weight: bold;

font-size: 13px;



}




.info {

font-style: normal;

color: gray;

}



.box {

padding: 10px;
margin:0px auto;
border:1px solid #ddd;
}

.boxhead {

    border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	-o-border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 5px 0 #B6C7CB;
	-moz-box-shadow: 0 0 5px 0 #B6C7CB;
	-webkit-box-shadow: 0 0 5px 0 #B6C7CB;
	-o-box-shadow: 0 0 5px 0 #B6C7CB;
    
    border: 1px solid #C0D1D5;
    float: left;
    height: 35px;
    margin: 15px -23px;
    width: 929px;
	
	
background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top, #2989d8 50%, #207cca 51%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2989d8 50%,#207cca 51%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2989d8 50%,#207cca 51%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2989d8 50%,#207cca 51%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom, #2989d8 50%,#207cca 51%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}





.indexmenus {

background:url(images/li_bgnormal.jpg);
padding: 0px;
margin: 0px;
z-index:1;
width: 100%;
float: left;
white-space:nowrap;
}

.indexmenus a {
color: #444444;
text-decoration: none;
font-weight: bold;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
padding-left:10px;
padding-right:10px;
padding-top:6px;
padding-bottom:3px;
display: block;
text-decoration: none;
height:22px;

}
.indexmenus td
{

border-left-color:#CCCCCC;
border-left-style:solid;
border-left-width:thin;
vertical-align:middle;
}

#index1_li_1
{

border-left-width:0px;

}
.indexmenus a:hover {
/* ----------- background-color: #EAEAEA;  ------*/
background: url(images/headerbgselect.jpg) repeat-x;
color: #333333;
padding-left: 10px;
padding-right: 10px;
padding-top: 6px;
padding-bottom: 3px;
height:22px;
}

.indexmenus span {
display: block;
}


.statistics {	color: #333333;
font-weight: bold;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
}

.paused_text{
text-decoration:blink;color:#CC3300;font:Arial, Helvetica, sans-serif;font-weight:bold; font-size:12px;
}

.dropdown {float:left; position:absolute; _position:absolute; z-index:500;margin-top:-8px}
.dropdown dt {cursor:pointer;padding:3px 0px;}
.dropdown dt:hover {}
.dropdown dd {position:absolute; overflow:hidden;display:none;margin-top:0px; z-index:500; _position:absolute}
.dropdown li {display:inline;white-space:nowrap}
.dropdown li a, .dropdown li a:active, .dropdown li a:visited {display:block; padding:4px 4px;; text-align:left; text-decoration:none;border-left:1px solid #999999; border-right:1px solid #999999; }
.dropdown a:hover {background-image:url(images/color.png); background-repeat:repeat; cursor:pointer;}


a.normalbutton {
padding: 2px 10px 3px 10px;
border: 2px outset #5AA0B8;
background: #B6B6B6;
color: #000000;
text-decoration: none;
height: 19px;
vertical-align: bottom;
}
a.normalbutton:active, a.normalbutton:focus, a.normalbutton:hover {
border: 2px inset #5aa0b8;
vertical-align: middle;
background: #CCCCCC;
color: #0000FF;
text-decoration: none;
}

a.pressedbutton {
border: 2px inset #5aa0b8;
vertical-align: middle;
background: #CCCCCC;
color: #0000FF;
text-decoration: none;
}


.datatable
{
border:1px solid #CCCCCC;
}

.datatable tr
{
height:25px;
}
.datatable td
{
border-bottom:1px solid #CCCCCC;
padding:0 5px;
font-size:12px;

}	

.datatable .headrow 
{
background: #ebf1f6; /* Old browsers */
background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}

.datatable .headrow  td
{
font-weight:bold;
padding:0 5px;
color:#FFFFFF;
}
.datatable .specialrow 
{
background-color:#EFEFEF;
}


		.nesoteparenttable {
    background:#FFFFFF;
    border-color: #E0E0E0;
    border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0;
    box-shadow: 0 0 15px -5px #000000;
	-moz-box-shadow: 0 0 15px -5px #000000;
	-webkit-box-shadow: 0 0 15px -5px #000000;
	-o-box-shadow: 0 0 15px -5px #000000;
    margin: 0 auto;
    overflow: scroll;
    padding: 10px;
    width: 900px;
	border:2px solid #fff;
			 }

		
.heading
{
font-size:16px;
font-weight:bold;
color:#444444;
text-decoration:underline;
text-transform:uppercase;
/*text-shadow: 0px 1px 0px #CCCCCC;*/
}

.paginglinkstyle
{
height:25px;
white-space:nowrap;
margin-top:5px;
font-weight:bold;
color:#0099FF;
}

.paginglinkstyle a
{
text-decoration:none;
background-color:#CCC;
padding:2px;
border:1px solid #666666;
color:#666666;
}

.paginglinkstyle a:hover
{
color:#0099FF;
}


.adbox
{
min-width:100px;
min-height:50px;
text-align:left;
vertical-align:top;
border-width:0px;

}
.adbox a
{
border-width:0px;
}

.adbox td
{
border-width:0px;
}

.layerbox
{
display:none;
border:1px solid #999999; 
width:auto; 
 height:auto;
 position:absolute;
  z-index:100;
  background-color:#FAFAFA;
  padding:2px;
  margin-top:20px;
}
 .container
{
padding:3px;
}

 .container .datatable
{
border-left-width:0px;
border-right-width:0px;
border-bottom-width:0px;
}

.submenu a
{


}


.black_popup_flash{
			display: none;
			position: fixed;
			_position: fixed;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color:#000000;
			z-index:1001;
			-moz-opacity: 0.6;
			opacity:.60;
			filter: alpha(opacity=60);
		}
.white_popup_flash {
						
			display: none;
			position: fixed;
			_position: fixed;
			top: 25%;
			left: 25%;
			/*width: 55%;
			height: 75%;*/
			padding: 5px;
			border: 16px solid #CCCCCC;
			background-color: white;
			z-index:1002;
			overflow: auto;
					
		}
		
.msg
{
padding:5px 2px;

}		
.danger
{
color:#FF0000;
}

.help
{
line-height:15px;
text-align:justify
}
.help ul
{
padding-left:15px
}
.todo
{
font-weight:bold;
}

.loginTbl { background: none repeat scroll 0 0 #FFFFFF;
   
    margin-top: 170px;
    padding: 20px;
    width: 410px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
    box-shadow: 0 0 15px -7px #000000;
	-moz-box-shadow: 0 0 15px -7px #000000;
	-webkit-box-shadow: 0 0 15px -7px #000000;
	-o-box-shadow: 0 0 15px -7px #000000;	
	}
.loginTbl .style1 {  border-bottom: 1px dashed #DDDDDD;
    color: #666666;
    display: block;
    font-size: 12px;
    padding: 11px 0 13px; text-align:center; overflow:hidden}
.loginTbl .style1 font { float:left}
.loginTbl .style1 .right { float:right}
.loginTbl .button{
		background: none repeat scroll 0 0 #04527A;
    border: 0 none;
    color: #FFFFFF;
    float: right;
    margin-right: 42px;
    padding: 5px 10px; cursor:pointer} 
.loginTbl input.button:hover { background:#00325A}
.loginTbl .txt { padding:5px; border:1px solid #ccc; margin:5px; width:200px}



input[type="submit"], 
input[type="button"], 
a.homelink { color:#fff !important; text-shadow:1px 1px 1px #000 !important;}
input[type="submit"], 
input[type="button"], 
a.homelink,
.datatable .headrow,
.boxhead,
a.slMenuItem_depth1 { background: #7f7f7f !important; /* Old browsers */
background: -moz-linear-gradient(top, #7f7f7f 0%, #4c4c4c 52%, #515151 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f7f7f), color-stop(52%,#4c4c4c), color-stop(100%,#515151)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7f7f7f 0%,#4c4c4c 52%,#515151 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7f7f7f 0%,#4c4c4c 52%,#515151 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7f7f7f 0%,#4c4c4c 52%,#515151 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #7f7f7f 0%,#4c4c4c 52%,#515151 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#515151',GradientType=0 ) !important; /* IE6-9 */}
.boxhead a.notelink:hover { font-size:11px !important;}

